*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Play', sans-serif;
    font-weight: bold;
}

body {
    padding: 0;
    margin: 0;
    background: #355C7D;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #C06C84, #6C5B7B, #355C7D);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #C06C84, #6C5B7B, #355C7D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.calculator {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid rgba(255, 255, 255, 0.3);
    outline: none;
    background-color: rgba(255, 255, 255, 0.3);
}

.calculator > button:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

.span-two {
    grid-column: span 2;
}

.show {
    grid-column: 1 / -1;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

#result {
    color: rgba(255, 255, 255, 0.6);
    font-size: 1.5rem;
}

#current {
    color: rgba(255, 255, 255, 0.9);
    font-size: 2.5rem;
}